# Загрузка Pandas и очистка данных

In [1]:
# Загружаем необходимые библиотеки
import pandas as pd 
import numpy as np
import random

In [126]:
df = pd.read_csv('main_task.csv') # создаем датафрейм

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
dtypes: float64(3), object(4)
memory usage: 2.1+ MB

In [127]:
df.drop(['ID_TA', 'URL_TA','Reviews'], axis = 1, inplace=True) # удаляем ненужные столбцы

In [128]:
# убирем лишние символы из Cuisine Style
df['Cuisine Style'] = df['Cuisine Style'].str.replace('[' , '')
df['Cuisine Style'] = df['Cuisine Style'].str.replace(']' , '')
df['Cuisine Style'] = df['Cuisine Style'].str.replace("'" , '')
df['Cuisine Style'] = df['Cuisine Style'].str.replace(" " , '')

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

In [132]:
#Напишем функцию,которая заместит пропуски в показателе кухни по принципу 5 наиболее популярных кухонь
def fill_csn(row):
    if pd.isnull(row['Cuisine Style']):
        return str(df['Cuisine Style'].dropna().explode().value_counts().head(5).index)[8:-19]
    return row['Cuisine Style']

In [133]:
df['Cuisine Style']=df.apply(fill_csn,axis=1)# замещаем пропуски

In [134]:
df['Cuisine Style'] = df['Cuisine Style'].str.replace('[' , '')# убирем лишние символы из Cuisine Style, переводим в list
df['Cuisine Style'] = df['Cuisine Style'].str.replace(']' , '')
df['Cuisine Style'] = df['Cuisine Style'].str.replace("'" , '')
df['Cuisine Style'] = df['Cuisine Style'].str.replace(" " , '')
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: x.split(','))

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

In [137]:
# создаем функцию для замены переменных Price Range на числовой параметр
def fill_PR(row):
    if pd.isnull(row['Price Range']):
        return np.random.randint(1,4)  # создаем случайный генератор для NaN от 1 до 3
    if row['Price Range'] == '$':
        return 1
    if row['Price Range'] == '$$ - $$$':
        return 2
    if row['Price Range'] == '$$$$':
        return 3

In [138]:
df['Price Range']=df.apply(fill_PR,axis=1)

In [139]:
df['Number of Reviews'].fillna(df['Number of Reviews'].median(), inplace=True)# заполняем пропуски в Number of Reviews

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        40000 non-null  int64
 6   Number of Reviews  40000 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 2.1+ MB

In [165]:
df_CS=(df['Cuisine Style'].str.get_dummies(sep=','))# создаем dummy переменные
df_CS

,'Afghani','Afghani'],'African','African'],'Albanian','Albanian'],'American','American'],'Arabic','Arabic'],...,['VeganOptions',['VeganOptions'],['VegetarianFriendly',['VegetarianFriendly'],['Venezuelan',['Venezuelan'],['Vietnamese',['Vietnamese'],['WineBar',['WineBar']
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39996,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [143]:
df_city=pd.get_dummies(df['City'],drop_first=True)# создаем dummy переменные

In [144]:
df_city

,Athens,Barcelona,Berlin,Bratislava,Brussels,Budapest,Copenhagen,Dublin,Edinburgh,Geneva,...,Munich,Oporto,Oslo,Paris,Prague,Rome,Stockholm,Vienna,Warsaw,Zurich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
39998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [145]:
df_df_City=pd.merge(df, df_city, left_index=True, right_index=True)#объединяем датафреймы

In [166]:
df_CS_City=pd.merge(df_df_City, df_CS, left_index=True, right_index=True)#объединяем датафреймы

In [172]:
df_CS_City

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Athens,Barcelona,Berlin,...,['VeganOptions',['VeganOptions'],['VegetarianFriendly',['VegetarianFriendly'],['Venezuelan',['Venezuelan'],['Vietnamese',['Vietnamese'],['WineBar',['WineBar']
0,id_5569,Paris,"[European, French, International]",5570.0,3.5,2,194.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,id_1535,Stockholm,"[Italian, French, Spanish, French, European, C...",1537.0,4.0,3,10.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,id_352,London,"[Japanese, Sushi, Asian, Grill, VegetarianFrie...",353.0,4.5,3,688.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,id_3456,Berlin,"[Italian, French, Spanish, French, European, C...",3458.0,5.0,3,3.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,id_615,Munich,"[German, CentralEuropean, VegetarianFriendly]",621.0,4.0,2,84.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"[Italian, VegetarianFriendly, VeganOptions, Gl...",500.0,4.5,2,79.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39996,id_6340,Paris,"[French, American, Bar, European, VegetarianFr...",6341.0,3.5,2,542.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39997,id_1649,Stockholm,"[Japanese, Sushi]",1652.0,4.5,1,4.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39998,id_640,Warsaw,"[Polish, European, EasternEuropean, CentralEur...",641.0,4.0,2,70.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39999,id_4824,Milan,[Spanish],4827.0,3.0,2,260.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [167]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df_df_City.drop(['Restaurant_id', 'Rating','City','Cuisine Style'], axis = 1)
y = df['Rating']

In [168]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            40000 non-null  float64
 1   Price Range        40000 non-null  int64
 2   Number of Reviews  40000 non-null  float64
 3   Athens             40000 non-null  uint8
 4   Barcelona          40000 non-null  uint8
 5   Berlin             40000 non-null  uint8
 6   Bratislava         40000 non-null  uint8
 7   Brussels           40000 non-null  uint8
 8   Budapest           40000 non-null  uint8
 9   Copenhagen         40000 non-null  uint8
 10  Dublin             40000 non-null  uint8
 11  Edinburgh          40000 non-null  uint8
 12  Geneva             40000 non-null  uint8
 13  Hamburg            40000 non-null  uint8
 14  Helsinki           40000 non-null  uint8
 15  Krakow             40000 non-null  uint8
 16  Lisbon             40000 non-null  uint8
 17  Ljubljana          40000 non-null  uint8
 18  London             40000 non-null  uint8
 19  Luxembourg         40000 non-null  uint8
 20  Lyon               40000 non-null  uint8
 21  Madrid             40000 non-null  uint8
 22  Milan              40000 non-null  uint8
 23  Munich             40000 non-null  uint8
 24  Oporto             40000 non-null  uint8
 25  Oslo               40000 non-null  uint8
 26  Paris              40000 non-null  uint8
 27  Prague             40000 non-null  uint8
 28  Rome               40000 non-null  uint8
 29  Stockholm          40000 non-null  uint8
 30  Vienna             40000 non-null  uint8
 31  Warsaw             40000 non-null  uint8
 32  Zurich             40000 non-null  uint8
dtypes: float64(2), int64(1), uint8(30)
memory usage: 2.1 MB

In [148]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [169]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [150]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [170]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [171]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.216734